<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.2.0/fontawesome-free-6.2.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>VuHiep</title>
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <div class="navbar__category">
                            <div class="navbar__category-label">
                                <a href="/home/category/@item.CategoryName" class="navbar__category-link">
                                    <span navbar__category-name>@item.CategoryName</span>
                                    <i class="navbar__category-icon fa-solid fa-angle-down"></i>
                                </a>
                            </div>
                            <div class="navbar__category-subnav">
                                <ul class="navbar__category-subnav-brandList">
                                @foreach (KeyValuePair<int, List<Brand>> pair in ViewBag.BrandOfCategories)
                                {
                                    if(pair.Key == item.CategoryId){
                                        foreach(Brand brand in pair.Value){
                                            <a class="navbar__category-subnav-brandLink" href="/home/@brand.BrandName/@item.CategoryName">
                                                <li value="@brand.BrandId">@brand.BrandName</li>
                                            </a>
                                        }
                                    }
                                }
                                </ul>
                            </div>
                        </div>                        
                    }
                </nav>
                <div class="header__barWithSearch">
                    <div class="barWithSearch__logo">
                        <a href="/home">
                            <img class="barWithSearch__logo-img" src="/images/logo/shoplogo.png" alt="Shop logo">
                        </a>
                    </div>
                    <div class="header__searchField">
                        <form action="" method="post" class="searchField__form" enctype="text/plain">
                            <input placeholder="Tìm kiếm sản phẩm" class="searchField__form-input">
                                
                            </input>
                            <button class="searchField__form-searchBtn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        
                    </div>  
                    <ul class="barWithSearch__link">
                        <li class="barWithSearch__cart">
                            <i class="barWithSearch__cart-logo fa-solid fa-cart-shopping"></i>
                            <span class="barWithSearch__cart-numofProd">3</span>
                        </li>
                        <li class="barWithSearch__account">
                            <div class="account__login">
                                <a class="account_login-link"  href="">Đăng nhập</a>
                            </div>
                            <div class="account__register">
                                <a class="account_register-link" href="">Đăng ký</a>
                            </div>
                        </li>
                    </ul>
                </div>



            </div>
        </header>

        @RenderBody()

        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Giới thiệu shop</h3>
                        <span class = "footer__information-describe">
                            Trang web này được tạo nên bởi 1 sinh viên IT nhằm mô phỏng lại sự phối hợp hoạt động giữa phần FrontEnd (Giao diện người dùng) 
                            và BackEnd (Phần xử lý logic và cơ sở dữ liệu mà người dùng không nhìn thấy được) 
                            của một trang web bán hàng thương mại điện tử. Lưu ý: Trang web được tạo ra chỉ với mục đích luyện tập code 
                            và không có mục đích thương mại, mọi thao tác mua sản phẩm thực hiện tại trang web đều là mô phỏng và không có thật.
                        </span>
                    </div>

                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Thông tin liên hệ</h3>
                        <ul class="footer__detailList">
                            <li class="footer__item">
                                <i class="footer__item-logo fa-brands fa-facebook"></i>
                                <a href="https://www.facebook.com/inLovewithMaiThao/" class="footer__item-link">Facebook</a>
                            </li>
                            <li class="footer__item">
                                <i class="footer__item-logo fa-brands fa-square-instagram"></i>
                                <a href="https://www.instagram.com/" class="footer__item-link">Instagram</a>
                            </li>
                            <li class="footer__item">
                                <i class="footer__item-logo fa-solid fa-phone"></i>
                                <a href="" class="footer__item-link">Điện thoại</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Shop introduction</h3>
                        <span class = "footer__information-describe">
                            This website was created by an Information Technology student to simulate the operation between the FrontEnd (User interface)
                            and BackEnd (The logic and database handler which users can not see) of a typical e-commerce web application.
                            Please notice that this is only a code practicing project, this website does not have any commercial purpose, every interaction made 
                            by users like ordering a product or something else is just a simulation which means it's all unreal.   
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid footer__copyright">
                2022 - Bản quyền thuộc về Vũ Quang Hiệp
            </div>
        </footer>

    </div>
</body>
</html>
