@foreach (Product item in ViewBag.Products)
{
    <div class="grid__column-TwoOfTen productList__item">
        <div class="productList__item-img" style="background-image: url(/images/products/@item.ImageUrl);">
            <div class="productList__item-addToCartbtn">
                <input class="hiddenProductId" type="hidden" value=@item.ProductId>
                Add to cart
            </div>
        </div> 
        <div class="productList__item-name">
            <span>@item.ProductName</span>
        </div>
        
        <div class="productList__item-Price">
            @{
                if(item.Price != item.DiscountPrice && item.DiscountPrice != 0){
                    <div class="productList__item-Newprice">
                        @{
                            string Price = Shop.Helper.normalizePrice(item.DiscountPrice.ToString());
                        }
                        <span>@Price₫</span>
                    </div>
                    <div class="productList__item-Oldprice">
                        @{
                            string OldPrice = Shop.Helper.normalizePrice(item.Price.ToString());
                        }
                        <span>@OldPrice₫</span>
                    </div>
                    float discountPercent = (item.Price - item.DiscountPrice) / (item.Price/100);
                    <div class="productList__item-SaleOf">
                            <span style="line-height: 20px;" >GIẢM</span><br>
                            <span>@discountPercent%</span>
                    </div>
                }
                else{
                    <div class="productList__item-Newprice">
                        @{
                            string Price = Shop.Helper.normalizePrice(item.Price.ToString());
                        }
                        <span>@Price₫</span>
                    </div>
                }
            }
        </div>
    </div>
}