@{
    Layout = "_Layout";
}

<div class="content">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2">
                <div class="productFilter">
                    <h3 class="productFilter__heading">Lọc theo giá</h3>
                    <div class="productFilter__priceFilter">
                        <div class="productFilter__priceFilter-item">
                            <input id="price1" type="radio" name="priceRange" value="1">
                            <label for="price1"> 0đ - 1tr </label><br>
                        </div>
                        <div class="productFilter__priceFilter-item">
                            <input id="price2" type="radio" name="priceRange" value="2">
                            <label for="price2"> 1tr - 5tr </label><br>
                        </div>
                        <div class="productFilter__priceFilter-item">
                            <input id="price3" type="radio" name="priceRange" value="3">
                            <label for="price3"> 5tr - 10tr </label><br>
                        </div>
                        <div class="productFilter__priceFilter-item">
                            <input id="price4" type="radio" name="priceRange" value="4">
                            <label for="price4"> 10tr - 20tr </label><br>
                        </div>
                        <div class="productFilter__priceFilter-item">
                            <input id="price5" type="radio" name="priceRange" value="5">
                            <label for="price5"> >20tr </label><br>
                        </div>
                        <div class="productFilter__priceFilter-item">
                            <input id="price6" type="radio" name="priceRange" value="6">
                            <label for="price6"> Tất cả giá </label><br>
                        </div>
                    </div>

                    <h3 class="productFilter__heading">Lọc theo hãng</h3>
                    <select class="productFilter__brandFilter" name="brandSelection" id="brandSelection">
                        <option value="0">Tất cả</option>
                        @foreach(Brand brand in ViewBag.Brands){
                            <option value="@brand.BrandId">@brand.BrandName</option>
                        }
                    </select>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</div>