@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <title>Đặt hàng thành công</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.2.0/fontawesome-free-6.2.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="OrderResult">
        <div class="OrderResult__msg">@Model</div>
        <div class="OrderResult__countDown">
        </div>
    </div>
</body>
</html>



<script>
    var countdown = document.querySelector(".OrderResult__countDown");
    var promise = new Promise(function(resolve, reject){
        var second = 7
        var interval = setInterval(function(){
            countdown.innerHTML = `${second}...`
            second--
            if(second < 0){
                clearInterval(interval)
                resolve()
            }
        }, 1000)
    })

    promise
        .then(function(){
            window.location.href = "/home"
        })
</script>
