
<div class="content grid">
    <table>
        <thead>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Số lượng</th>
            <th>Giá</th>
        </thead>
        <tbody>
            <tr>
                @foreach (Product product in ViewBag.Cart)
                {
                    
                }
                <td></td>
            </tr>
        </tbody>
    </table>
</div>