<form action="/Admin/Product/ApplyDiscount" enctype="application/x-www-form-urlencoded" method="post">
    <div>
        <label>Discount Id</label>
        <input name="DiscountId" type="text" id="inputDiscountId">
    </div>
    <div>
        <label>Product Name</label>
        <input name="productName" type="text" id="inputProductName">
    </div>
    <button id="applyDiscountBtn" type="submit">OK</button>
</form>