:root{
    --text-color: #333 ;
    --saleOfFlag-color: red;
    --primary-color: rgb(121, 121, 241);
    --header-height: 120px;
    --navbar-height: 48px;
    --searchbar-height: calc(var(--header-height) - var(--navbar-height) - 10px);
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column-2{
    width: 16.6667%;
}

.grid__column-3{
    width: 33%;
}

.grid__column-10{
    width: 83.3334%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-TwoOfTen{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-active{
    display: flex;
}

.modal__body{
    margin: auto;
}


