.header{
    background-color: var(--primary-color);
    height: var(--header-height);
    width: 100%;
    z-index: 1;
    top:0;
    position: fixed;
}

.header__navbar{
    height: var(--navbar-height);
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.navbar__category{
    align-items: center;
    color: white;
    padding: 0 12px;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
    line-height: var(--navbar-height);
}

.navbar__category-label{
    text-align: center;
    padding: 0 16px;
}

.navbar__category-link{
    text-decoration: none;
    color: white;
}

.navbar__category-name{
    font-size: 1.6rem;
}

.navbar__category-icon{
    margin-left: 8px;
    font-size: 1.2rem;
}

.navbar__category-subnav{
    position: absolute;
    background-color: black;
    top: 100%;
    display: none;
    color: white;
    font-size: 1.4rem;
    right: 3px;
}

.navbar__category-subnav-brandList{
    list-style-type: none;
    padding: 0;
}

.navbar__category-subnav-brandList li{
    padding: 0px 28px;
}

.navbar__category-subnav-brandLink{
    text-decoration: none;
    color: white;
}


.navbar__category-label:hover,
.navbar__category-subnav-brandList li:hover{
    cursor: pointer;
    background-color: rgb(46, 44, 44) ;
}

.navbar__category:hover .navbar__category-subnav{
    display: block;
}



.header__barWithSearch{
    display: flex;
    align-items: center;
    height: var(--searchbar-height);
}

.barWithSearch__logo{
    height: 100%;
    width: 150px;
}

.barWithSearch__logo-img{
    height: 100%;
    border-radius: 4px;
}

.barWithSearch__logo-img:hover{
    cursor: pointer;
}

.header__searchField{
    flex: 1;
    display: flex;
    height: 60%;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.searchField__form{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.searchField__form-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;  
    font-size: 1.5rem;
    background-color: #fff;
}

.searchField__form-searchBtn{
    width: 60px;
    height: 85%;
    margin-right: 3px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
}

.searchField__form-searchBtn:hover{
    cursor: pointer;
}

.barWithSearch__link{
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.barWithSearch__cart{
    padding: 0;
    width: 150px;
    text-align: center;
    position: relative;
}

.barWithSearch__cart-logo{
    font-size: 3rem;
    padding: 3px;
    color: black;
    position: relative;
}

.barWithSearch__cart-logo:hover{
    cursor: pointer;
}

.barWithSearch__cart-numofProd{
    position: absolute;
    border: solid 1.5px var(--primary-color);
    top: -7px;
    right: 50px;
    border-radius: 50%;
    background-color: white;
    line-height: 20px;
    font-size: 1.3rem;
    color: black;
    width: 20px;
    height: 20px;
}

.barWithSearch__account{
    width: 150px;
    display: flex;
    align-items: center;
}

.account__login{
    border-right: solid 1px #ccc;
}

.account_login-link, 
.account_register-link{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 8px;
}

.account_login-link:hover, 
.account_register-link:hover{
    opacity: 0.8;
}

.content{
    min-height: 585px;
    margin-top: calc(var(--header-height) + 20px);
}


/* Bar with search account field when user had login css  */
.barWithSearch__account-img{
    width: 100%;
    clip-path: circle();
}

.barWithSearch__account-imgContainer{
    width: 35px;
    height:35px;
    display: flex;
    align-items: center;
}

.barWithSearch__account-username{
    font-size: 1.4rem;
    margin-left: 4px;
    position: relative;
    padding: 8px;
}

.barWithSearch__account-username:hover{
    cursor: pointer;
}

.barWithSearch__LogedIn:hover .barWithSearch__account-menu{
    display: block;
}

.barWithSearch__account-menu::before{
    position: absolute;
    left: 68px;
    top: -23px;
    content: "";
    border: 12px solid #d3d3d3;
    border-color: transparent transparent white transparent;
}

.barWithSearch__account-menu::after{
    width: 100%;
    height: 24px;
    position: absolute;
    top: -23px;
    content: "";
    left: 0px;
}

.barWithSearch__account-menu{
    position: absolute;
    top: 40px;
    width: 120px;
    font-size: 1.3rem;
    list-style-type: none;
    padding: 5px;
    right: -12px;
    display: none;
    background-color: white;
    color: black;
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top;
    animation: GrowthAnimation ease-in 0.25s
}

@keyframes GrowthAnimation{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.barWithSearch__account-menu li:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: black;
}

.barWithSearch__account-menuItem{
    padding: 5px 5px;
}

.barWithSearch__account-menuItem a {
    text-decoration: none;
    color: black;
}


/* Product css  */

.productList,
.cartProducts{
}

.productList__item{
    margin-top: 15px;
    position: relative;
}

.productList__item:hover{
    transform: translateY(-1.5px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

.productList__item-img{
    position: relative;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.productList__item-addToCartbtn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 1.4rem;
    height: 40px;
    display: none;
    background-color: black;
    opacity: 0.65;
}

.productList__item-img:hover .productList__item-addToCartbtn{
    display: block;
}

.productList__item-addToCartbtn:hover{
    opacity: 0.9;
}

.productList__item-SaleOf{
    color: white;
    background-color: var(--saleOfFlag-color);
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    font-weight: 500;
}

.productList__item-SaleOf::after{
    content: "";
    position: absolute;
    border-width: 0 18px 4px;
    left: 0;
    top: 35px;
    border-style: solid;
    border-color: transparent var(--saleOfFlag-color) transparent var(--saleOfFlag-color) ;
}

/* Product item name css */

.productList__item-name{
    margin-top: 5px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* Product item price css */
.productList__item-Price{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.productList__item-Newprice{
    margin: 8px 0;
    font-size: 1.5rem;
    color: red;
}

.productList__item-Oldprice{
    font-size: 1.3rem;
    text-decoration: line-through;
    opacity: 0.7;
}

/* Price Filter css */
.productFilter{
    position: fixed;
}

.productFilter__heading{
    font-size: 1.7rem;
}

.productFilter__priceFilter{

}

.productFilter__priceFilter-item,
.productFilter__sortProduct-item{
    margin: 8px;
}

.productFilter__priceFilter-item > label,
.productFilter__sortProduct-item > label{
    font-size: 1.5rem;
    padding:0 4px;
}

.productFilter__priceFilter-item > label:hover,
.productFilter__sortProduct-item > label:hover{
    cursor: pointer;
    color: red;
}

/* brandFilter css  */
.productFilter__brandFilter{
    width: 90%;
    height: 30px;
    font-size: 1.3rem;
}

.productFilter__brandFilter:hover{
    cursor: pointer;
}

/* footer css  */
.footer{
    border-top: 4px solid var(--primary-color);
    margin-top: 50px;
    background-color: var(--primary-color);
}

.footer__information{
    padding: 20px;
    text-align: left;
}

.footer__information-describe{
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.footer__heading{
    text-align: center;
    font-size: 1.6rem;
}

.footer__detailList{
    list-style-type: none;
    color: black;
    padding: 0;
}

.footer__item{
    text-align: center;
    margin: 20px;
}

.footer__item-logo{
    font-size: 1.4rem;
    margin-right: 8px;
}

.footer__item-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

.footer__copyright{
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
}

/* Login modal and SignUp modal css  */

.auth__modal-login,
.auth__modal-register{
    background-color: var(--primary-color);
    width: 400px;
    min-height: 280px;  
    display: block;
    border-radius: 4px;
}

.auth__modal-heading{
    padding: 20px 0;
    font-size: 2.0rem;
    text-align: center;
    font-weight: 600;
}

.auth__modal-inputField{
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: center;
}

.auth__modal-footer{
    padding: 10px 0;
}

.auth__modal-password{
    margin-top: 15px;
}

.auth__modal-inputUsername,
.auth__modal-inputPassword{
    margin-left: 4px;
    padding-left: 8px;
    border: none;
    height: 28px;
    border-radius: 4px;
}

.auth__modal-loginOptions{
    display: flex;
    font-size: 1.5rem;
    align-items: baseline;
    justify-content: space-around;
}

.auth__modal-rememberOption{
    display: flex;
    align-items: baseline;
}

.auth__modal-rememberLabel{
    margin-left: 4px;
}

.auth__modal-forgetPasswordOption:hover,
.auth__modal-rememberLabel:hover,
.auth__modal-switchLinkToLogin:hover,
.auth__modal-switchLinkToRegister:hover,
.auth__modal-btnLogin:hover,
.auth__modal-btnRegister:hover{
    cursor: pointer;
    opacity: 0.8;
}

.auth__modal-proceed{
    margin: 15px 0;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

.auth__modal-btnLogin,
.auth__modal-btnRegister{
    display: inline-block;
    padding: 10px 15px;
    background-color: black;
    border-radius: 4px;
}


.auth__modal-switch{
    font-size: 1.3rem;
    text-align: center;
}

.auth__modal-switchLinkToRegister,
.auth__modal-switchLinkToLogin{
    padding-left: 4px;
}

/* Cart page css  */
.cartProducts table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}


.cartProducts__table{
    width: 100%;
    border-collapse: collapse;
}

.cartProducts__Heading{
    font-size: 1.6rem;
    height: 50px;
    font-weight: 700;
    background-color: var(--primary-color);
}

.cartProducts__item{
    text-align: center;
    font-size: 1.4rem;
    padding: 0 10px;
}

.cartProducts__item td{
    max-width: 250px;
    min-width: 100px;
    padding: 0 15px;
}


.cartProducts__item-img{
    max-width: 230px;
}

.cartProducts__item-quantity{
    padding: 0 10px;
    font-weight: 500;
    text-decoration: underline;
}

.cartProducts__item-plusIcon,
.cartProducts__item-minusIcon{
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 4px;
    font-size: 1.3rem;
}

.cartProducts__item-plusIcon:hover,
.cartProducts__item-minusIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* Cart action bar css  */

.cart__actions{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 85%;
}

.cart__action-selectProduct,
.cart__action-deleteProduct,
.cart__action-checkout{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 3px;
}

.cart__action-selectProduct:hover,
.cart__action-deleteProduct:hover,
.cart__action-checkout:hover{
    cursor: pointer;
    opacity: 0.8;
}

.cart__action-selectProduct{
    background-color: var(--primary-color);
}

.cart__action-modify{
    display: flex;
}

.cart__action-deleteProduct{
    background-color: rgb(214, 80, 80);
}

.cart__action-checkout{
    margin-left: 10px;
    background-color: goldenrod ;
}

.cart__action-icon{

}

/* Product detail page css  */
.SameProductHeader{
    text-align: center;
    font-size: 1.8rem;
    color: red;
    margin-top: 60px;
    margin-bottom: 15px;
}

.ProductInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ProductInfo__detail-heading{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: red;
}

.ProductInfo__img{
    max-width: 600px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

.ProductInfo__detail{
    max-width: 450px;
}

.ProductInfo__detail-description,
.ProductInfo__detail-name{
    line-height: 1.8rem;
    font-size: 1.4rem;
}   

.ProductInfo__detail-name{
    font-weight: 450;
}

.ProductInfo__detail-description{
}

.ProductInfo__detail-price{
    font-size: 1.5rem;
    display: flex;
    align-items: baseline;
}

.ProductInfo__detail-priceNew{
    color: red;
    font-weight: 450;
    padding: 0 10px;
}

.ProductInfo__detail-priceOld{
    text-decoration: line-through;
    opacity: 0.7;
    font-size: 1.4rem;
}

.ProductInfo__AddToCart{
    margin-top: 30px;
    text-align: center;
}

.ProductInfo__AddToCartbtn{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
    padding: 13px;
    background-color: var(--primary-color);
}

.ProductInfo__AddToCart:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* Order products form css  */
.orderForm{
    display: flex;
    justify-content: space-between;
}

.orderForm__Info{
    line-height: 1.6rem;
    font-size: 1.4rem;
}

.orderForm__heading{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.orderForm__receiverName,
.orderForm__receiverAddress,
.orderForm__receiverPhone,
.orderForm__userNote{
    font-weight: 400;
    margin: 15px 0;
}

.orderForm__receiverName{
}

.orderForm__receiverAddress{

}

.orderForm__receiverPhone{

}

.orderForm__userNote{

}

.orderForm__input{
    padding: 5px;
    width: 300px;
    margin-top: 4px;
}

.orderForm__AcceptCheckoutBtn{
    background-color: goldenrod ;
    border: none;
    padding: 12px 20px;
    font-size: 1.4rem;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
}

.orderForm__AcceptCheckoutBtn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.orderForm__totalPrice{
    margin-top: 30px;
    color: red;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: 500;
}

/* order result page css  */
.OrderResult{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OrderResult__msg{
    font-size: 2.0rem;
    line-height: 2.6rem;
    font-weight: 600;
    width: 600px;
    text-align: center;
}

.OrderResult__countDown{
    font-size: 2.4rem;
    margin-top: 40px;
    font-weight: 700;
}


/* order/index page css  */
.Order__board{
    background-color: #ccc;
    border-radius: 4px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.Order__board-layout{
    width: 95%;
}

.Order__board-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Order__board-info{
    font-size: 1.4rem;
    margin: 20px 0 5px 0;
}

.Order__info-totalPrice{
    font-size: 1.5rem;
    color: red;
    margin: 15px 10px;
}

.Order__board-info div{
    height: 30px;
}

.Order__board-info h4{
    display: inline-block;
    margin: 0;
}

.Order__cancel-btn{
    display: inline-block;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 50px;
}

.Order__cancel-btnIcon{
    margin-right: 4px;
}

.Order__cancel-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
